<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beep boop</title>
</head>
<body>
    <a href="/auth/login">login</a>
    <a href="/auth/register">register</a>
    <a href="/tutorial">View Card Tutorial</a>
    <a href="/home">Home Page</a>
</body>
</html>