<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beep boop</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="main-title">Welcome to Hard-potato</h1>
    <div class="main-container">
        <a href="/auth/login" class="main-button">login</a>
        <a href="/auth/register" class="main-button">register</a>
        <a href="/tutorial" class="main-button">View Card Tutorial</a>
    </div>
</body>
</html>