<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Marvel Card List</h2>
        <table border="1" style="width: 100%; color: #fff; background: #1e2536;">
            <tr>
                <th>Name</th><th>Cost</th><th>Attack</th><th>Defense</th><th>Buff Condition</th>
            </tr>
            <tr><td>Iron Man</td><td>4</td><td>3</td><td>5</td><td>Buffs Hulk: +2/+2</td></tr>
            <tr><td>Captain America</td><td>3</td><td>2</td><td>6</td><td>None</td></tr>
            <tr><td>Thor</td><td>5</td><td>5</td><td>3</td><td>+1/+1 if Hulk on field</td></tr>
            <tr><td>Black Widow</td><td>2</td><td>2</td><td>2</td><td>+1 ATK if Hawkeye present</td></tr>
            <tr><td>Hulk</td><td>6</td><td>6</td><td>4</td><td>+2/+2 if Iron Man present</td></tr>
            <tr><td>Hawkeye</td><td>3</td><td>3</td><td>1</td><td>None</td></tr>
            <tr><td>Doctor Strange</td><td>4</td><td>2</td><td>5</td><td>+1/+1 if Scarlet Witch present</td></tr>
            <tr><td>Scarlet Witch</td><td>3</td><td>3</td><td>2</td><td>+1 ATK if Vision present</td></tr>
            <tr><td>Spider-Man</td><td>2</td><td>2</td><td>3</td><td>None</td></tr>
            <tr><td>Black Panther</td><td>3</td><td>3</td><td>3</td><td>+2 DEF if Captain America on field</td></tr>
            <tr><td>Ant-Man</td><td>1</td><td>1</td><td>1</td><td>+2 DEF if Wasp present</td></tr>
            <tr><td>Wasp</td><td>1</td><td>1</td><td>2</td><td>+2 ATK if Ant-Man present</td></tr>
            <tr><td>Star-Lord</td><td>3</td><td>3</td><td>2</td><td>+1 ATK if Rocket on field</td></tr>
            <tr><td>Rocket Raccoon</td><td>2</td><td>2</td><td>2</td><td>+1 ATK if Groot on field</td></tr>
            <tr><td>Groot</td><td>3</td><td>1</td><td>6</td><td>+2 DEF if Rocket on field</td></tr>
            <tr><td>Gamora</td><td>3</td><td>4</td><td>1</td><td>+1 ATK if Star-Lord on field</td></tr>
            <tr><td>Vision</td><td>4</td><td>3</td><td>4</td><td>+1 DEF if Scarlet Witch on field</td></tr>
            <tr><td>Falcon</td><td>2</td><td>2</td><td>2</td><td>+1 DEF if Captain America on field</td></tr>
            <tr><td>War Machine</td><td>4</td><td>4</td><td>2</td><td>+1 ATK if Iron Man on field</td></tr>
            <tr><td>Nick Fury</td><td>5</td><td>2</td><td>6</td><td>None</td></tr>
        </table>
    </div>
</body>
</html>
