<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Tutorial</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/tutorial.css">
</head>
<body>
    <div class="tutorial-container">
        <h2>PVZ Plant Card List</h2>
        <table>
            <tr>
                <th>Name</th><th>Cost</th><th>Attack</th><th>Defense</th><th>Buff Condition</th>
            </tr>
            <tr><td>Peashooter</td><td>4</td><td>3</td><td>5</td><td>Buffs Bonk Choy: +2/+2</td></tr>
            <tr><td>Wall-nut</td><td>3</td><td>2</td><td>6</td><td>None</td></tr>
            <tr><td>Cabbage-pult</td><td>5</td><td>5</td><td>3</td><td>+1/+1 if Bonk Choy on field</td></tr>
            <tr><td>Chilli Bean</td><td>2</td><td>2</td><td>2</td><td>+1 ATK if Kernel-pult present</td></tr>
            <tr><td>Bonk Choy</td><td>6</td><td>6</td><td>4</td><td>+2/+2 if Peashooter present</td></tr>
            <tr><td>Kernel-pult</td><td>3</td><td>3</td><td>1</td><td>None</td></tr>
            <tr><td>Sunflower</td><td>4</td><td>2</td><td>5</td><td>+1/+1 if Puff-shroom present</td></tr>
            <tr><td>Puff-shroom</td><td>3</td><td>3</td><td>2</td><td>+1 ATK if Magnet-shroom present</td></tr>
            <tr><td>Snow Pea</td><td>2</td><td>2</td><td>3</td><td>None</td></tr>
            <tr><td>Snapdragon</td><td>3</td><td>3</td><td>3</td><td>+2 DEF if Wall-nut on field</td></tr>
            <tr><td>Potato Mine</td><td>1</td><td>1</td><td>1</td><td>+2 DEF if Spikerock present</td></tr>
            <tr><td>Spikerock</td><td>1</td><td>1</td><td>2</td><td>+2 ATK if Potato Mine present</td></tr>
            <tr><td>Threepeater</td><td>3</td><td>3</td><td>2</td><td>+1 ATK if Bloomerang on field</td></tr>
            <tr><td>Bloomerang</td><td>2</td><td>2</td><td>2</td><td>+1 ATK if Tall-nut on field</td></tr>
            <tr><td>Tall-nut</td><td>3</td><td>1</td><td>6</td><td>+2 DEF if Bloomerang on field</td></tr>
            <tr><td>Jalapeno</td><td>3</td><td>4</td><td>1</td><td>+1 ATK if Threepeater on field</td></tr>
            <tr><td>Magnet-shroom</td><td>4</td><td>3</td><td>4</td><td>+1 DEF if Puff-shroom on field</td></tr>
            <tr><td>Cactus</td><td>2</td><td>2</td><td>2</td><td>+1 DEF if Wall-nut on field</td></tr>
            <tr><td>Fire Peashooter</td><td>4</td><td>4</td><td>2</td><td>+1 ATK if Peashooter on field</td></tr>
            <tr><td>Cherry Bomb</td><td>5</td><td>2</td><td>6</td><td>None</td></tr>
        </table>
    </div>
</body>
</html>
