<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Tutorial</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/tutorial.css">
</head>
<body>
    <div class="tutorial-container">
        <h2>PVZ Plant Card List</h2>
        <table>
            <tr>
                <th>Image</th><th>Name</th><th>Cost</th><th>Attack</th><th>Defense</th>
            </tr>
            <tr><td><img src="/images/cards/11.png" alt="Peashooter" class="card-img"></td><td>Peashooter</td><td>4</td><td>3</td><td>5</td></tr>
            <tr><td><img src="/images/cards/20.png" alt="Wall-nut" class="card-img"></td><td>Wall-nut</td><td>3</td><td>2</td><td>6</td></tr>
            <tr><td><img src="/images/cards/3.png" alt="Cabbage-pult" class="card-img"></td><td>Cabbage-pult</td><td>5</td><td>5</td><td>3</td></tr>
            <tr><td><img src="/images/cards/6.png" alt="Chilli Bean" class="card-img"></td><td>Chilli Bean</td><td>2</td><td>2</td><td>2</td></tr>
            <tr><td><img src="/images/cards/2.png" alt="Bonk Choy" class="card-img"></td><td>Bonk Choy</td><td>6</td><td>6</td><td>4</td></tr>
            <tr><td><img src="/images/cards/9.png" alt="Kernel-pult" class="card-img"></td><td>Kernel-pult</td><td>3</td><td>3</td><td>1</td></tr>
            <tr><td><img src="/images/cards/17.png" alt="Sunflower" class="card-img"></td><td>Sunflower</td><td>4</td><td>2</td><td>5</td></tr>
            <tr><td><img src="/images/cards/13.png" alt="Puff-shroom" class="card-img"></td><td>Puff-shroom</td><td>3</td><td>3</td><td>2</td></tr>
            <tr><td><img src="/images/cards/15.png" alt="Snow Pea" class="card-img"></td><td>Snow Pea</td><td>2</td><td>2</td><td>3</td></tr>
            <tr><td><img src="/images/cards/14.png" alt="Snapdragon" class="card-img"></td><td>Snapdragon</td><td>3</td><td>3</td><td>3</td></tr>
            <tr><td><img src="/images/cards/12.png" alt="Potato Mine" class="card-img"></td><td>Potato Mine</td><td>1</td><td>1</td><td>1</td></tr>
            <tr><td><img src="/images/cards/16.png" alt="Spikerock" class="card-img"></td><td>Spikerock</td><td>1</td><td>1</td><td>2</td></tr>
            <tr><td><img src="/images/cards/19.png" alt="Threepeater" class="card-img"></td><td>Threepeater</td><td>3</td><td>3</td><td>2</td></tr>
            <tr><td><img src="/images/cards/1.png" alt="Bloomerang" class="card-img"></td><td>Bloomerang</td><td>2</td><td>2</td><td>2</td></tr>
            <tr><td><img src="/images/cards/18.png" alt="Tall-nut" class="card-img"></td><td>Tall-nut</td><td>3</td><td>1</td><td>6</td></tr>
            <tr><td><img src="/images/cards/8.png" alt="Jalapeno" class="card-img"></td><td>Jalapeno</td><td>3</td><td>4</td><td>1</td></tr>
            <tr><td><img src="/images/cards/10.png" alt="Magnet-shroom" class="card-img"></td><td>Magnet-shroom</td><td>4</td><td>3</td><td>4</td></tr>
            <tr><td><img src="/images/cards/4.png" alt="Cactus" class="card-img"></td><td>Cactus</td><td>2</td><td>2</td><td>2</td></tr>
            <tr><td><img src="/images/cards/7.png" alt="Fire Peashooter" class="card-img"></td><td>Fire Peashooter</td><td>4</td><td>4</td><td>2</td></tr>
            <tr><td><img src="/images/cards/5.png" alt="Cherry Bomb" class="card-img"></td><td>Cherry Bomb</td><td>5</td><td>2</td><td>6</td></tr>
        </table>
    </div>
</body>
</html>
