<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/selectroom.css">
    <title>Game Room</title>
</head>
<body>
    <div class="home-container">
        <h2>Game Room</h2>

        <div class="buttons">
            <button class="main-button" id="create-room">Create Room</button>
            <button class="main-button" id="join-room">Join Room</button>
        </div>

        <form id="join-form">
            <input type="text" id="room-code" name="code" placeholder="Enter Room Code" class="join-input" required>
            <button type="submit" class="main-button" id="submit-join">Join</button>
        </form>
    </div>
    <script src="/js/room/rooms.js"></script>
</body>
</html>